/* 
    Document   : Estilo
    Created on : 08/07/2013, 22:23:50
    Author     : Augusto
    Description:
        Purpose of the stylesheet follows.
*/

    
    #xti { display: block; margin:20px auto; }
    body { background-color:#090; }

